{% load static %}<!DOCTYPE html>
<html lang="uz">
<head>
    {% include "app/partials/theme_init.html" %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Kafedralar.uz — Universitet Bilim Markazi{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=DM+Sans:wght@300;400;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'yangi/style.css' %}?v=20260923t" />
    <link rel="stylesheet" href="{% static 'yangi/pages.css' %}?v=20260923t" />
    <link rel="stylesheet" href="{% static 'app/app-assets/fonts/font-awesome/css/all.min.css' %}?v=20260923">
    <link rel="stylesheet" type="text/css" href="{% static 'app/assets/css/theme-dark-lang.css' %}?v=20260923s">

    <link rel="stylesheet" href="{% static 'app/assets/css/pdf-modal.css' %}?v=20260923x">

    {% block extra_head %}{% endblock %}
</head>
<body>

{% include "app/partials/navbar_public.html" %}

{% block content %}{% endblock %}

{% include "app/partials/footer.html" %}

<script src="{% static 'yangi/main.js' %}?v=20260923"></script>
<script src="{% static 'app/assets/js/theme-dark-lang.js' %}?v=20260923s"></script>
<script src="{% static 'app/assets/js/pdf-modal.js' %}?v=20260923x"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
